.compitembg {
  position: relative;

  background-image: linear-gradient(
    to right top,
    #605d5f,
    #595559,
    #514e53,
    #48474e,
    #3f4049,
    #383841,
    #31303a,
    #2a2932,
    #232026,
    #1b171b,
    #110e10,
    #000000
  );

  /* background-image: linear-gradient(
    to left top,
    #6d327c,
    #485da6,
    #00a1ba,
    #00bf98,
    #36c486
  ); */

  /* background-image: linear-gradient(
    to left bottom,
    #e0f211,
    #b7eb37,
    #91e24f,
    #6cd763,
    #47cb73,
    #1ebd82,
    #00ae8c,
    #009e8f,
    #00888b,
    #0f7280,
    #265d6f,
    #2f4858
  ); */
  /* background-color: #8a78a4; */
  background-size: cover;
  background-position: center;
  margin-top: -24px;
  margin-bottom: -50px;
}
.createJob {
  margin: 8em;
  margin-top: 10em;
}

.jobForm {
  min-height: 40vh;
  padding: 8em;

  padding-left: 15em;
  background-color: white;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
}

.dragger {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}
.label {
  padding: 0em;
}
.button,
.uploadbutton {
  float: right;
}
.inputStyles,
.labelText {
  margin: 2em;
}

.drop {
  min-height: 8em !important;
  min-width: 10em !important;
}

.infographic h1 {
  font-family: "DosisB";
  font-size: 5em;
  padding: 1em;
}

.info {
  font-size: 1.75em;
  font-family: "Roboto";
  padding: 3em;
}

.competitionContent {
  padding: 20px;
}
