.ant-carousel .slick-slide {
  text-align: center;
  height: 460px;
  line-height: 160px;
  background: black;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.videoplayer {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 0px;
}

.delete-comment {
  cursor: pointer;
}
