.createJob {
  margin: 8em;
  margin-top: 10em;
}

.jobForm {
  min-height: 40vh;
  padding: 8em;

  padding-left: 15em;
  background-color: white;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
}

.dragger {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}
.label {
  padding: 0em;
}
.button,
.uploadbutton {
  float: right;
}
.inputStyles,
.labelText {
  margin: 2em;
}

.drop {
  min-height: 8em !important;
  min-width: 10em !important;
}

.infographic h1 {
  font-family: "DosisB";
  font-size: 5em;
  padding: 1em;
}

.info {
  font-size: 1.75em;
  font-family: "Roboto";
  padding: 3em;
}
