.card {
  margin-top: 30px;
  margin-left: 50px;
}

.heroUnit {
  background-image: linear-gradient(
    to right top,
    #d100c8,
    #b00094,
    #8b0467,
    #640e43,
    #3c1025,
    #3c1d31,
    #3c283a,
    #3d3341,
    #555c7b,
    #558eb5,
    #44c4df,
    #5ffbf1
  );
  /* background-image: linear-gradient(
    to left top,
    #00c8df,
    #24c0d5,
    #34b7ca,
    #3eafc0,
    #45a7b6,
    #57abb8,
    #66b0bb,
    #74b4bd,
    #90c6cc,
    #abd9dd,
    #c7eced,
    #e2ffff
  ); */
  /* background-image: linear-gradient(
    to right bottom,
    #86a8e7,
    #78b1ef,
    #68b9f6,
    #54c2fb,
    #3ccafe,
    #2bd1ff,
    #1ad8ff,
    #0ddffd,
    #24e6fb,
    #38edf8,
    #4cf4f5,
    #5ffbf1
  ); */
  /* background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 40%,
    #2cb5e8 99%
  ); */
}

.heroContent {
  max-width: 600;
  margin: "0 auto";
  padding: 50px 0 50px;
}
.heroContentGenres {
  max-width: 600;
  margin: "0 auto";
  padding: 0px 0 48px;
}

.heroButtons {
  margin-top: 64;
}
