.ant-carousel .slick-slide {
  text-align: center;
  height: 460px;
  line-height: 160px;
  background: black;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.videoplayer {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 0px;
}

.delete-comment {
  cursor: pointer;
}

.videoitembg {
  position: relative;
  background-image: linear-gradient(
    to right top,
    #605d5f,
    #595559,
    #514e53,
    #48474e,
    #3f4049,
    #383841,
    #31303a,
    #2a2932,
    #232026,
    #1b171b,
    #110e10,
    #000000
  );

  /* background-image: linear-gradient(
    to right top,
    #6d327c,
    #485da6,
    #00a1ba,
    #00bf98,
    #36c486
  ); */

  /* background-image: linear-gradient(
    to left bottom,
    #e0f211,
    #b7eb37,
    #91e24f,
    #6cd763,
    #47cb73,
    #1ebd82,
    #00ae8c,
    #009e8f,
    #00888b,
    #0f7280,
    #265d6f,
    #2f4858
  ); */
  /* background-color: #8a78a4; */
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  margin-top: -24px;
  margin-bottom: -50px;
}
