body {
  margin-bottom: 100px !important;
  padding-bottom: 100px;
}

img {
  width: 100%;
}
.container1 {
  padding-bottom: 100px;
  margin-top: -27px;
}

.landing {
  position: relative;
  background: url(./img/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;

  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.8;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/* .footer {
   /position: fixed;/ 
  bottom: -20;
  left: 0;
  width: 100%;
  height: 80px;
} */

footer {
  position: fixed;
  top: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
}

.zFix * {
  z-index: 0 !important;
}

.noOverflow {
  white-space: nowrap;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
